.cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    border-radius: 80px;
}

.cell.red {
    background-color: red;
}

.cell.yellow {
    background-color: yellow;
}
