/* Reset default margins */
html, body {
    margin: 0;
    padding: 0;
}

.mainpage {
    width: 100%;
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-section,
.content-section {
    flex: 0 0 100%;  /* Force these items to take up 100% width */
    color: black;
    background-color: white;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
    &:hover {
        border-color: blue;
    }
}


.header-section {
    text-align: center;

    padding: 0;
    margin-bottom: 20px;

}

.title {
    font-size: 48px;
    margin: 0;
}

.play-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.play-link:hover {
    background-color: #1c86ee;
}

/* Full-width content sections */
.content-section {
    background-color: white;
    color: black;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.header-section{
    width: 100%;
}


/* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
